header{
    background-color: #ffe4c4;
    color: blueviolet;}
footer{
    text-align: center;
    
}
.ab{
    text-align: left;
}
container{
   color: brown;
}
dl{
    color: black;
}
#def{
    color: red;
}